chromadb==1.5.9
openai==2.53.0
huggingface_hub==1.26.0
ragas==0.4.3
datasets==5.0.1
apache-airflow-providers-common-ai[openai]==0.6.0
apache-airflow-providers-slack==9.10.2
langchain-community==0.4.1
